<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class"></property>
        <property name="hibernate.connection.url"></property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.dialect"></property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.cache.use_query_cache=">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!-- Hibernate Search -->
        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.search.default_null_token">__DEFAULT_NULL_TOKEN__</property>
        <property name="hibernate.search.default.indexBase"></property>

        <!-- Classes anotadas -->
        <mapping class=""/>

    </session-factory>
</hibernate-configuration>
<!-- EM CASO DE DUVIDA, OLHAR O MESMO ARQUIVO ENCONTRADO NO ESCOPO DE TESTES -->